<div class="about-header"><h3>About</h3></div>
<div>
    <p class="about-text"> 
        Lorem ipsum dolor sit amet, ne semper iudicabit has. Justo graeci deseruisse eos in. Et odio saperet vivendum mel. Erat semper at nec, sit ad facilis nostrum liberavisse. Vocibus antiopam principes ut sit, sit scripta tincidunt ei. Ei graeco invidunt usu, quaeque prodesset definiebas nec ea, nibh graeci pericula cu vel.
    
        Ei illum utamur tractatos vis, aeque atomorum euripidis nec ad. Et veri timeam nam. Integre mentitum expetendis ea duo. Te mei odio nihil deserunt, qui ad iudico virtute percipitur, mea et velit persequeris. Id ius vocent propriae platonem, ad wisi theophrastus mel, postea fierent gubergren no eos. Eos illum minim tollit ex.
    
        Mei impetus incorrupte ad, usu ne tota diceret, lucilius inimicus assentior cu vel. Adolescens comprehensam ut cum, te putent quaestio eos, assum labitur imperdiet sea at. Eu dicat augue doctus his, ex scripta perfecto duo, consulatu dignissim moderatius no eum. At sed verear oportere, ferri timeam sed te. Fierent consetetur vis ad, per id munere debitis pertinax, cibo brute rationibus ei pri. Cu esse erroribus accusamus est.
        
        Quo eripuit nominati dignissim in, in delicata instructior pri. Vis eu vitae indoctum dissentiet, no ludus praesent prodesset est. Simul debitis has no, eos iuvaret volumus invenire ei. Et has mucius fabulas. Bonorum dignissim cu vim, id equidem convenire reprehendunt sit. Quis velit dolore vix no, sea ea modus repudiare, mei labore reformidans in.
        
        Soleat assueverit at nam. Quo primis deleniti constituam te. Quo nisl quaeque fastidii cu. Ad duo prompta nonumes, eu has vide dicit dissentiunt. Nam fuisset rationibus no, maiorum voluptatum at sit, adhuc exerci quaeque his et.
    </p>
</div>